[submodule "nextjs-nexus"]
	path = nextjs-nexus
	url = https://github.com/prisma-cms/nextjs-nexus
	branch = master
[submodule "traders-web"]
	path = traders-web
	url = git@github.com:simply-trade-ru/simply-trade.ru.git
